﻿body {
    background-color: #889491
}

a {
    font-family: Tahoma, Geneva, sans-serif;
}

h1 {
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 100;
}

h2 {
    font-family: Tahoma, Geneva, sans-serif;
}

h3 {
    font-family: Tahoma, Geneva, sans-serif;
}

label {
    font-family: Tahoma, Geneva, sans-serif;
}

input {
    background-color: #cfc;
}

input:focus {
    background-color: #cf0;
}

textarea {
    background-color: #cfc;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

textarea:focus {
    background-color: #cf0;
}

select {
    background-color: #cfc;
}

select:focus {
    background-color: #cf0;
}

table,
th,
td {
    border: 2 solid black;
}

.tdLabel {
    text-align: right;
}

.txtUpdatePass {
    color: black;
}

.txtUpdateFail {
    color: red;
    font-weight: bold;
}

.headtable {
    border: 1px solid black;
}

td.headtable {
    border: 1px solid black;
    padding-right: 5px;
}

.contenttable {
    table-layout: fixed;
    border: 0px solid black;
}

td.contenttable {
    border: 0px solid black;
    padding-right: 20px;
}